@import url("style.css?t=1");

html, body {
    color: var(--body-text-colour);
    background-color: var(--body-background-colour);
    font-family: "body", Helvetica, sans-serif;
    font-size: 14pt;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width:100%;
    overflow-x: hidden;
}
main {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    z-index: 2;
    padding: 60px 0px;
}

a, a:visited, a:focus {
    color: var(--body-text-colour);
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    font-weight: bold;
    text-decoration: underline;
}
button, .button {
    border: 0;
    background-color: var(--button-bk);
    text-transform: uppercase;
    font-family: "body", Helvetica, sans-serif;
    color: var(--button-text) !important;
    font-weight: normal;
    padding: 15px 30px;
    font-size: 18pt;
    cursor: pointer;
}
button:hover, .button:hover {
    font-weight: bold;
    text-decoration: none;
}

.row {
    display: flex;
    column-gap: 50px;
    margin-bottom: 50px;
}
.row .col {
    width: 50%;
}
.image-box {
    width: 50%;
}
.image {
    width: 100%;
    overflow: hidden;
    border: 1px solid var(--border);
    font-size: 0;
}
.image img {
    width: 100%;
}
.image-box .price {
    float: right;
    position: relative;
    background-color: var(--button-bk);
    color: var(--button-text) !important;
    padding: 15px 30px;
    font-size: 18pt;
    margin-right: -10px;
    margin-top: -50px;
    font-size: 28pt;
    z-index: 100;
}
#page-body .image-box {
    padding-top: 28px;
}
#error {
    padding: 1px 20px 20px 20px;
    background-color: var(--button-bk);
    color: var(--button-text) !important;
}

.borderless {
    border: 0 !important;
}
.float-right {
    float: right;
}

/* Footer */
footer {
    margin-top: 80px;
}
footer .float-right a {
    display: block;
    float: left;
    margin-left: 10px;
}

/* Headings */
h2, h3, .h2 {
    font-weight: bold;
    font-size: 22pt;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid var(--border);
}
thead th {
    background-color: var(--button-bk);
    color: var(--button-text) !important;
    padding: 10px;
    text-align: left;
}
tbody, thead {
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}
tbody td {
    padding: 20px 10px;
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
}
tfoot td {
    padding: 20px 10px;
    text-align: right;
}
tfoot td.border {
    border-bottom: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}
tfoot td.total {
    background-color: var(--button-bk);
    color: var(--button-text) !important;
}

/* Tiles */
@media only screen and (min-width: 480px) {
    .tiles {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 768px) {
    .tiles {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 960px) {
    .tiles {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

.tiles {
    column-gap: 40px;
    margin-top: 20px;
}
.tile {
    display: block;
    break-inside: avoid-column;
    margin: 0 0 40px 0;
    width: calc(100% - 100px);
    padding: 30px 50px;
    border: 1px solid #000;
}
@-moz-document url-prefix() {
    .tile {
        display: inline-block;
    }
}
.tile .media {
    display: flex;
    flex-direction: column;
}
.tile .image-box {
    width: 100%;
    /*max-height: 400px;
    overflow: hidden;*/
}
.tile-buttons {
    padding-top: 20px;
}
.tile-buttons a {
    float: left;
    margin-right: 10px;
}

/* Header */
header {
    margin-bottom: 80px;
}
header nav {
    float: left;
}
header nav .nav-item {
    margin-right: 15px;
}

header #basket {
    float: right;
    background-image: url("./basket.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}

header #basket span {
    margin-left: 30px;
    background-color: var(--button-bk);
    color: var(--button-text) !important;
    padding: 7px 12px;
    border-radius: 50%;
    font-size: 12pt;
}

/* Buttons */
.btn-add-basket {
    display: block;
    background-image: url("./add-basket.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}

#basket .price {
    text-align: right;
}
#basket .btn-remove {
    display: block;
    background-image: url("./remove-basket.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}
#basket .btn-remove:hover {
    text-decoration: none;
}

/* Form */
.form-input {
    float: left;
    width: calc(100% - 24px);
    padding: 7px;
    border: 1px solid var(--border);
}

/* Toggle switch */
.switcher {
    font-size: 0pt !important;
}
.switcher label * {
    vertical-align: middle;
    overflow: hidden;
}
.switcher input {
    display: none;
}
.switcher label input + span {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 100px;
    height: 38.2px;
    background-color: #fff;
    border:1px solid var(--border);
    transition: all 0.3s ease-in-out;
}
thead th .switcher label input + span {
    border:1px solid #fff;
}
.switcher label input + span small {
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    font-size: 14pt;
    padding-top: 7px;
    background-color: var(--button-bk);
    transition: all .15s ease;
    box-shadow: none;
    font-weight: 600;
    text-align: center;
    user-select: none;
}
.switcher label input:checked + span small {
    background-color: #fff;
    left: 50%;
}
.switcher label input:checked + span .switcher-off {
    display: none;
}
.switcher label input:checked + span .switcher-on {
    background-color: var(--button-bk);
    display: block;
}